################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DistractionKiller/obj
/.vs/DistractionKiller
/DistractionKiller/bin/Debug/netcoreapp3.1
/DistractionKiller/DistractionKiller.csproj.user
/FocusWarden/bin/Debug/netcoreapp3.1
/FocusWarden/obj
/.vs/FocusWarden/v16
/FocusWarden.Lib/obj
/FocusWarden.Lib.Tests.Unit/obj
/FocusWarden.UI/obj
*.user
/FocusWarden.DataAccess/obj
/Focus.Warden.Lib/bin/Debug/netcoreapp3.1
/.vs/FocusWarden/DesignTimeBuild
/Focus.Warden.Lib/obj
/FocusWarden.Lib.Tests.Unit/bin/Debug/netcoreapp3.1
/FocusWarden.DataAccess/bin/Debug/netcoreapp3.1
/FocusWarden.Lib/bin/Debug/netcoreapp3.1
/FocusWarden.UI/bin/Debug/netcoreapp3.1
/FocusWarden.Common/bin/Debug/netcoreapp3.1
/FocusWarden.Common/obj
/FocusWarden.Tests.UI/bin/Debug
/FocusWarden.Tests.UI/obj/Debug
/packages
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs
/FocusWarden.Tests.UI/obj/Release
/FocusWarden.Styles/obj
/FocusWarden.Styles/bin/Debug/netcoreapp3.1
